{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div>
            <h1>Create a new project</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name">
                Description<textarea name="description" id="" cols="30" rows="10"></textarea>
                Members<select name="members" id=""></select>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}