{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block content %}
    <main>
        <div>
            <h1>{{ projec.name }}</h1>
            {{ projec.description|markdownify }}
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            {% if projec.tasks.all %}
            <table>
                {% for task in projec.tasks.all %}
                    <tr>
                        Name
                        <td>{{ task.name }}</td>
                        Start date
                        <td>{{ task.start_date }}</td>
                        Due date
                        <td>{{ task.due_date }}</td>
                        Is completed
                        <td>{{ task.is_completed }}</td>
                        Assignee
                        <td>{{ task.assignee }}</td>
                    </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}