{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a></p>
       
            <table>
                <th>Name</th>
                <th>Number of Tasks</th>
                {% for projected in projectnames %}
                    <tr>
                        <th><a href="{% url 'show_project' projected.id %}">{{ projected.name }}</a></th>
                        <td>{{ projected.tasks.all|length }}</td>
                    </tr>
                {% endfor %}
            </table>

            <p>You are not assigned to any projects</p>

        </div>
    </main>
{% endblock content %}

