{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div>
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Name <input type="text" name="name">
            Start Date<input type="text" name="start_date">
            Due Date<input type="text" name="due_date">
            Project<select name="project" id=""></select>
            Assignee<select name="assignee" id=""></select> -->
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
{% endblock content %}