{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasktask %}
            <table>
                <tr>
                    {% for item in tasktask %}
                        <td>{{ item.name }}</td>
                        <td>{{ item.project }}</td>
                        <td>{{ item.start_date }}</td>
                        <td>{{ item.is_completed }}</td>
                        <form method="post" action="{% url 'complete_task' item.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="is_completed" value="True">
                            <button>Complete</button>
                          </form>
                    {% endfor %}
                </tr>
            </table>
        </div>
            {% else %}
            <p>You have no tasks</p>
            {% endif %}
    </main>
{% endblock content %}


